<%- include('../partials/header') %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>All Hikes</title>
  </head>
  <body>
    <h1>All Hikes</h1>
    <thead>
      <tr>
        <th>Hiking Trail</th>
        <th>Location</th>
      </tr>
    </thead>
    <br />
    <tbody>
      <% users.forEach(function(user) { %> <% user.hikes.forEach(function(h) {
      %>
      <tr>
        <td><%= h.name %></td>
        <td><%= h.location %></td>
        <td><a href="/hikes/<%= h._id %>/review">Add a Review</a></td>
        <td><button>X</button></td>
      </tr>
      <% }); %> <% }); %>
    </tbody>
    <br />
    <br />
    <a href="/hikes/new">Add a New Hike</a>
  </body>
</html>
