<%- include('../partials/header') %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Add New Hike</title>
  </head>
  <body>
    <form action="/hikes" method="POST">
      <label>Hike Name:</label>
      <input type="text" name="name" />
      <label>Location:</label>
      <input type="text" name="location" />
      <input type="submit" value="Add Hike" />
    </form>
    <a href="/hikes">Cancel</a>
  </body>
</html>
