<%- include('../partials/header') %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Reviews</title>
  </head>
  <body>
    <form action="/reviews" method="POST">
      <label>Review: </label>
      <input type="text" name="review" />
      <label>Rating: </label>
      <input type="text" name="rating" />
    </form>
  </body>
  <button>Add Review</button>
</html>
